* {
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
}


/* some of common */

.container {
    width: min-content;
    padding: auto;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 15px;
    border: 2px solid black;
    font-size: 20px;
}

.titleCalc {
    font-size: 30px;
    text-align: center;
    margin: 10px;
    margin-top: 0;
}

.input {
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid black;
}

.output {
    font-size: 30px;
}

.tip {
    margin: auto;
    width: 80%;
    font-size: 18px;
}


/* of body */

body {
    background-image: linear-gradient( 102.1deg, rgba(96, 221, 142, 1) 8.7%, rgba(24, 138, 141, 1) 88.1%);
    background-size: 500%;
    animation: moving 5s infinite alternate;
}

@keyframes moving {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}


/* main section */

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* selecting calculator type */

.selectCalculator {
    display: flex;
    flex-direction: row;
    height: auto;
    margin-bottom: 20px;
}

.select {
    width: 325px;
    margin-top: 10px;
    background-color: rgb(37, 37, 37);
    color: white;
    padding: 5px;
    border: 2px solid black;
    border-radius: 15px;
    font-size: 20px;
}


/* standard calculator */

.standardCalculator {
    display: grid;
    grid-template-columns: 1fr;
}

table {
    margin: auto;
    margin-top: 20px;
}

td button {
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
    padding: 5px 20px;
    font-size: 20px;
    width: 70px;
}

#empty {
    display: none;
}

hr {
    margin: 5%;
}


/* pythagorean theorem */

.pythagoreanTheorem {
    display: flex;
    flex-direction: column;
}


/* square root */